*{
  box-sizing: border-box;
}
body{
  background-color: #141218;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/background.jpg");
  background-position: top right 20%;
  background-repeat:no-repeat; 
   /* background-size: cover; */
}
.content{


}
.header{
  padding-top: 60px;
}
.container{
  max-width: 1195px;
  padding: 0 30px;
  margin: 0 auto;
  
}
.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-active{
  display: flex;
}
.menu__link{
  color: #fff;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.menu{
  margin-right: auto;
  margin-left: 68px;
}
.menu__ul li, .media__ul li{
  display: inline-block;
}
.media__ul li + li{
  margin-left: 21px;
}
.menu__ul li + li{
  margin-left: 24px;
}
.main__year{
  animation-delay: 0.1s;
}
.main{
  margin-top: 90px;
}

.main__rating{
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items:center;
  animation-delay: 0.3s;
}

.main__rating-stars{
  margin-top: 16px;
  display: inline-block;
}
.main__rating-stars li{
  display: inline;
}
.main__mark{
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  padding: 0;
  position: absolute;
  left:150px;
  bottom:2.3px;
  margin-left: 8.59px;
}
.main__title{
  margin-top: 10px;
  font-family: Mason Chronicles;
  font-style: normal;
  font-weight: 500;
  font-size: 76px;
  line-height: 89px;
  animation-delay: 0.5s;
}
.main__decr{
  margin-top: 10px;
  line-height: 150%;
  max-width: 458px;
  width:100%;
  display: block;
  animation-delay: 0.7s;
}
.main__watch-button{
  color: #fff;
  text-decoration: none;
  background-color:#9D2929;
  padding: 22px 62px;
  border-radius: 8px;
  display: inline-block;
  max-width: 260px;
  margin-top: 40px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.main__watch{
  animation-delay: 1s;
}

/* .series{
  margin-top: 85px;
} */

.play{
  background-color: #9D2929;
  width: 100px;
  height: 100px;
  border-radius:50%;
  border:none;
  position: relative;
  margin:auto;
  outline: none;
  flex-shrink: 0;

}
.play:before{
  content: '';
  width: 132px;
  height: 132px;
  background-color:#9D2929;
  opacity: 0.5;
  position: absolute;
  border-radius:50%;
  left:-16px;
  top:-16px;
  animation: pulse 0.5s ease-in-out 2s infinite;
}
.play-img{
  position: absolute;
  left:30%;
  top:30%;
  transform: translateX(5px);
}
.main-inner{
  display: flex;
  align-items:center;
  /* justify-content: flex-start; */
  margin-bottom: 85px;
}
/* slider */
.series{
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  max-width: 400px;
}

.card{
  width: 164px;
  height: 113px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 13px;
  margin-right: 30px;
}
.card-subtitle{
  font-size:10px;
  line-height:12px;
  margin-bottom: 2px;
}
.card-title{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.series-1{
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%),url('../img/series/series-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.series-2{
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%),url('../img/series/series-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
 .arrow{
  width: 32px;
  height: 23px;
  border: none;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 42%;
  right: -35px;
  outline: none;
}

.swiper-container{
  max-width: 420px;
  margin-left: 0;
}

footer{
  margin-top:auto;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding:20px 0;
  background-color: #141218;
}
.footer__left{
  line-height: 20px;
  opacity: 0.4;
}
.footer__right{
  line-height: 20px;
  opacity: 0.4;
}
.footer__right-link{
  color:#fff;
  text-decoration: none;
}
.footer__right-link + .footer__right-link{
  margin-left: 25px;
}
/* Responsive */
.menu-button{
  display: none;
}
button:hover{
  cursor: pointer;
}

@media(max-width: 760px){
  .play{
    display: none;
  }
  .footer{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .footer__left{
    margin-bottom: 18px;

  }
}

@media(max-width:540px){
  .menu-button{
    position: absolute;
    right: 35px;
    top: 40px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    border:none;
    z-index: 2;
  }
  .menu-button:before{
    content:'';
    width: 30px;
    position: absolute;
    top:0;
    left: 0;
    height: 2px;
    right:0px;
    background-color: #fff;
    display: block;
    margin-top: -7px;
  }
  .menu-button:after{
    content:'';
    width: 30px;
    position: absolute;
    top:0;
    left: 0;
    height: 2px;
    right:0px;
    background-color: #fff;
    display: block;
    margin-top: 7px;
  }
  .menu-button-active{
    height: 0;
  }
  .menu-button-active:before{
    transform: rotate(45deg);
    margin-top: 0;
  }
  .menu-button-active:after{
    transform: rotate(-45deg);
    margin-top: 0;
  }
  /* .header{
    position: absolute;
  } */
  .header-inner{
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    right: 0;
    top: 0;
    height: 263px;
    background-color: #9D2929;
    width:250px;
    padding: 40px 0;
    z-index:2;
    display:none;
  }
  .header-active{
    display:flex;
  }
  .menu{
    margin-right: 0;
    margin-left: 0px;
    order:2;
    display: inline-block;
    text-align: center;
  }
  .menu__ul{
    display: flex;
    flex-direction: column;

    margin:auto;
  }
  .media{
    order:1
  }
  .menu__link{
    margin-right: 0;
  }
  .menu__ul li + li{
    margin-left: 0px;
    margin-top: 17px;
  }
  .main__mark{
    z-index: 1;
  }
  .swiper-container{
    width:80%;
  }
  /* .media__ul{
    position: relative;
  } */
  .media__ul .media__link img[src="img/twitter.svg"]{
    margin-bottom: 2px;
  }
  .main{
    margin-top: 196px;
  }
  .series{
    width: 80%;
  }
  .main__title{
    font-size: 56px;
  }
}

@font-face{
  font-family: 'Mason Chronicles';
  src:url("../fonts/4026.ttf") format("truetype");
}